.firstLevel {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    margin-top: 20px;
    &:hover {
        svg {
            fill: var(--primary);
        }
        color: var(--primary);
    }

    &Active {
        color: var(--primary);

        svg {
            fill: var(--primary);
        }
    }
}

.secondLevel {
    margin-bottom: 10px;
    color: var(--grey-dark);
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    outline-offset: -1px;
}

.secondBlock {
    margin-top: 15px;
    margin-left: 12px;
    padding-left: 32px;
    border-left: 1px solid #dfdfdf;
}
.secondLevelBlock {
    overflow: hidden;
}

.thirdLevel {
    display: block;
    margin-bottom: 10px;
    color: var(--grey-dark);
    color: #787d85;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
    outline-offset: -1px;

    &Active {
        color: var(--primary);
    }

    &:hover {
        color: var(--primary);
    }
}
