.firstLevel {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;

    &:hover {
        svg {
            fill: var(--primary);
        }

        color: var(--primary);
    }

    &Active {
        color: var(--primary);

        svg {
            fill: var(--primary);
        }
    }
}

.firstLevelList {
    padding: 0;
    list-style: none;
}

.secondLevel {
    padding: 0;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 300;
    color: var(--grey-dark);
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline-offset: -1px;
}

.secondBlock {
    padding: 0 0 0 32px;
    margin-top: 15px;
    margin-left: 12px;
    list-style: none;
    border-left: 1px solid #dfdfdf;
}

.secondLevelBlock {
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.thirdLevel {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: var(--grey-dark);
    color: #787d85;
    outline-offset: -1px;
    transition: color 0.2s ease-in-out;

    &Active {
        color: var(--primary);
    }

    &:hover {
        color: var(--primary);
    }
}
